head{

    padding: 0px;
    margin: 0px;
    background-color: royalblue
    
}

#login{
    
    padding: 0px;
    margin: 0px;
    background-color: green;   
}
body{
    
    padding: 0px;
    margin: 0px;
    background-color: green;   
}